@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="hero-content">
        <center>
            <br />
            <i class="fas fa-house-user fa-3x"></i>
            <h1>Welcome to tenants association</h1>
            <p class="text-info" style="margin-bottom: 8rem; ">To see your invoice you have to be logged in. Please click on the button to sing in. If you don't have an account please create one.</p>

            <div style="display:inline-block;">
                <a type="button" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="SignUp">Sign Up</a>
                <a type="button" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="SignIn">Sign In</a>
            </div>
        </center>
    </div>
</section>








