@{
    ViewData["Title"] = "Admin";
}


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#paid">Paid Invoices</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#unpaid">Unpaid Invoices</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#add">Add Invoice</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile">Profile</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
        <div class="dropdown-menu" style="">
            <a class="dropdown-item" href="#">Log Out</a>
        </div>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="paid">
        <p>Here will be info about the paid invoices from users.</p>
    </div>
    <div class="tab-pane fade" id="unpaid">
        <p>Here will be info about the unpaid invoices from users.</p>
    </div>
    <div class="tab-pane fade" id="profile">
        <form>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="name example">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="password example">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
    </div>
    <div class="tab-pane fade" id="add">

        <center>
            <div class="card border-primary mb-3" style="max-width: 30rem;">
                <div class="card-header">Add Invoice</div>
                <div class="card-body">

                    <form asp-controller="Home" asp-action="GetDetails" method="post">
                        <div class="form-group">
                            <label>Input User Name:</label>
                            <input name="txtName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Input Apartment Number:</label>
                            <input name="txtApNumber" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Input Price:</label>
                            <input name="txtPrice" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Input Due Date:</label>
                            <input name="txtDate" type="date" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <input name="txtDescription" type="text" class="form-control">
                        </div>

                        <button iid="Submit1" type="submit" value="submit" class="btn btn-primary">Send Invoice</button>
                    </form>

                </div>
            </div>
        </center>

    </div>
</div>









